
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}






<style>
    h2 {
        padding-top: 10px;
        text-align: center;
        font-size: 40px;
        font-family: sans-serif;
        font-weight: 600;
    }
</style>

<div>
    <h2>Something went wrong with your order</h2>
</div>

