<body class="cbp-spmenu-push">
    <div id="page">


        <section class="image-head-wrapper">
            <div class="container">
                <div class="inner-wrapper">
                    <h1><span>C</span>ontact</h1>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>

        <section class="contact-block section-padding">
            <div class="container">
                <div class="col-md-6 contact-left-block">
                    <h3><span>Contact </span>Us</h3>
                    <p class="text-left">Nulla pharetra eleifend tellus in molestie. In vel neque sit amet urna gravida blandit nec id massa. Phasellus eu aliquet augue. Quisque fringilla urna quam.</p>
                    <p class="text-right">701 Old York Drive Richmond USA. <i class="fa fa-map-marker fa-lg"></i></p>
                    <p class="text-right"><a href="tel:+30 210 9211111"> +30 210 9211111 <i class="fa fa-phone fa-lg"></i></a></p>
                    <p class="text-right"><a href="mailto:kappa@info.com"> demo@info.com <i class="fa fa-envelope"></i></a></p>
                </div>
                <div class="col-md-6 contact-form">
                    <h3>Send a <span>Message</span></h3>
                    <form method="post" action="#">
                        <input type="text" required="" placeholder="Name" name="Name" class="form-control">
                        <input type="email" required="" placeholder="Email" name="Email" class="form-control">
                        <textarea required="" placeholder="Message Here...." name="Message" class="form-control"></textarea>
                        <input type="submit" value="Submit" class="submit-btn">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>

        <!---map--->
        <section class="offspace-70">
            <div class="map">
                <div class="container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12581.793222282571!2d23.724578535182534!3d37.96666587559749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bd115926d4b3%3A0xc1b7afae2bd1b7ea!2zzpHOus-Bz4zPgM6_zrvOuc-C!5e0!3m2!1sel!2sgr!4v1646947170403!5m2!1sel!2sgr" frameborder="0" style="border:0; width: 100%; height: 400px" allowfullscreen loading="lazy"></iframe>
                </div>
            </div>
        </section>


        <!-- Modal -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-margin-top">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title text-center">Welcome Back</h3>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="rect">
                                    <form class="login">
                                        <h2>Login</h2>
                                        <div class="form-group">
                                            <input type="text" placeholder="Your name" class="form-control" name="name">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" placeholder="Password" class="form-control" name="password">
                                        </div>
                                        <div class="divider-sm">
                                        </div>

                                        <div class="divider-sm">
                                        </div>
                                        <button class="btn btn-cool btn-md-sm btn-bottom">Login</button>
                                    </form>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="content">
                                    <div class="subtitle">

                                        <div>
                                            <h2>...or login with:</h2>
                                        </div>

                                    </div>

                                    <div class="text-center">
                                        <a class="sign-btn sign-btn-facebook" href="#"><span class="fa fa-facebook"></span>Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a class="sign-btn sign-btn-twitter" href="#"><span class="fa fa-twitter"></span>Twitter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</body>