
<!DOCTYPE html>
<html lang="en">

<body class="cbp-spmenu-push">
    <div id="page">


        <section class="image-head-wrapper">
            <div class="container">
                <div class="inner-wrapper">
                    <h1><span>C</span>reate</h1>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>

        <section class="service-block section-padding-small">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="text-head">
                            <h2>Our Creations</h2>
                        </div>
                    </div>
                </div>
                <div class="row offspace-90">
                    <div class="col-md-4 col-sm-4 col-xs-12 width-set-50">
                        <div class="service-image">
                            <img class="img-responsive" src="~/probeautyfly/images/service1.png" alt="service-image">
                            <div class="overlay">
                                <h3><a>Lorem ipsum dolor</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 width-set-50">
                        <div class="service-image">
                            <img class="img-responsive" src="~/probeautyfly/images/service2.png" alt="service-image">
                            <div class="overlay">
                                <h3><a>Lorem ipsum dolor</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 width-set-50">
                        <div class="service-image">
                            <img class="img-responsive" src="~/probeautyfly/images/service3.png" alt="service-image">
                            <div class="overlay">
                                <h3><a>Lorem ipsum dolor</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 width-set-50">
                        <div class="service-image">
                            <img class="img-responsive" src="~/probeautyfly/images/service4.png" alt="service-image">
                            <div class="overlay">
                                <h3><a>Lorem ipsum dolor</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 width-set-50">
                        <div class="service-image">
                            <img class="img-responsive" src="~/probeautyfly/images/service5.png" alt="service-image">
                            <div class="overlay">
                                <h3><a>Lorem ipsum dolor</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 width-set-50">
                        <div class="service-image">
                            <img class="img-responsive" src="~/probeautyfly/images/service6.png" alt="service-image">
                            <div class="overlay">
                                <h3><a>Lorem ipsum dolor</a></h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- Modal -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-margin-top">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title text-center">Welcome Back</h3>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="rect">
                                    <form class="login">
                                        <h2>Login</h2>
                                        <div class="form-group">
                                            <input type="text" placeholder="Your name" class="form-control" name="name">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" placeholder="Password" class="form-control" name="password">
                                        </div>
                                        <div class="divider-sm">
                                        </div>

                                        <div class="divider-sm">
                                        </div>
                                        <button class="btn btn-cool btn-md-sm btn-bottom">Login</button>
                                    </form>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="content">
                                    <div class="subtitle">

                                        <div>
                                            <h2>...or login with:</h2>
                                        </div>

                                    </div>

                                    <div class="text-center">
                                        <a class="sign-btn sign-btn-facebook" href="#"><span class="fa fa-facebook"></span>Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>



</body>
</html>
