<body class="cbp-spmenu-push">
    <div id="page">
        @*
            <section class="image-head-wrapper page-banner">
                <div class="container">
                    <div class="inner-wrapper">
                        <h1><span>C</span>reate</h1>
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>
        *@

        <div class="px-20">
            <div class="create-container">
                <div class="create-block">
                    <div class="create-block-head">
                        <div class="create-block-head-button-container">
                            <div class="create-block-head-button">Settigns</div>
                            <div class="create-head-dropdown">
                                <div class="create-head-dropdown-button" id="resetButton">Reset</div>
                            </div>
                        </div>

                        <div class="create-block-head-button-container">
                            <div class="create-block-head-button">Add Text</div>
                            <div class="create-head-dropdown flex">
                                <div class="field">
                                    <label>Text:</label>
                                    <input placeholder="Text" type="text" id="inputText" />
                                </div>

                                <div class="field">
                                    <label>Font</label>
                                    <div class="ui selection dropdown fluid create-head-dropdown-input">
                                        <input name="gender" type="hidden" id="inputFont" value="Arial" />
                                        <div class="default text">Arial</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item" data-value="Arial">Arial</div>
                                            <div class="item" data-value="Impact">Impact</div>
                                            <div class="item" data-value="Lobster">Lobster</div>
                                            <div class="item" data-value="Indie Flower">Indie Flower</div>
                                            <div class="item" data-value="Gloria Hallelujah">Gloria Hallelujah</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <label>Color</label>
                                    <div class="ui selection dropdown fluid create-head-dropdown-input">
                                        <input name="color" type="hidden" id="inputColor" value="red" />
                                        <div class="default text">Red</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item" data-value="black">Black</div>
                                            <div class="item" data-value="white">White</div>
                                            <div class="item" data-value="red">Red</div>
                                            <div class="item" data-value="orange">Orange</div>
                                            <div class="item" data-value="blue">Blue</div>
                                            <div class="item" data-value="green">Green</div>
                                            <div class="item" data-value="aqua">Aqua</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="create-side-add-to-cart">
                                    <button id="addTextButton">Add Text</button>
                                </div>
                            </div>
                        </div>

                        <div class="create-block-head-button-container">
                            <div class="create-block-head-button">Add Image</div>
                            <div class="create-head-dropdown flex">
                                <div class="create-side-add-to-cart">
                                    <button id="libraryButton">from Library</button>
                                </div>
                                <p>OR</p>
                                <input type="file" id="imgLoader" class="imgLoader" />
                                <div class="create-side-add-to-cart">
                                    <label for="imgLoader"> Upload Image </label>
                                </div>
                                <p>Supported files: JPG, JPEG, PNG</p>
                            </div>
                        </div>

                        <div class="create-block-head-button-container" id="boxEditText">
                            <div class="create-block-head-button">EDIT : Text</div>
                            <div class="create-head-dropdown flex">
                                <div class="field">
                                    <label>Text:</label>
                                    <input placeholder="Text" type="text" id="editText" />
                                </div>

                                <div class="field">
                                    <label>Font</label>
                                    <div class="ui selection dropdown fluid create-head-dropdown-input" id="uiEditFont">
                                        <input name="gender" type="hidden" id="editFont" />
                                        <div class="default text">select</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item" data-value="Arial">Arial</div>
                                            <div class="item" data-value="Impact">Impact</div>
                                            <div class="item" data-value="Lobster">Lobster</div>
                                            <div class="item" data-value="Indie Flower">Indie Flower</div>
                                            <div class="item" data-value="Gloria Hallelujah">Gloria Hallelujah</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <label>Color</label>
                                    <div class="ui selection dropdown fluid create-head-dropdown-input" id="uiEditColor">
                                        <input name="gender" type="hidden" id="editColor" />
                                        <div class="default text">Red</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item" data-value="black">Black</div>
                                            <div class="item" data-value="white">White</div>
                                            <div class="item" data-value="red">Red</div>
                                            <div class="item" data-value="orange">Orange</div>
                                            <div class="item" data-value="blue">Blue</div>
                                            <div class="item" data-value="green">Green</div>
                                            <div class="item" data-value="aqua">Aqua</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="create-side-add-to-cart">
                                    <button id="updateTextButton">Update</button>
                                </div>

                                <div class="create-side-add-to-cart">
                                    <button class="trashButton">
                                        <i class="trash icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="create-block-head-button-container" id="boxEditImage">
                            <div class="create-block-head-button">EDIT : Image</div>
                            <div class="create-head-dropdown flex">
                                <p>Use rectangle control around image to move / scale / rotate.</p>

                                <div class="create-side-add-to-cart">
                                    <button class="trashButton">
                                        <i class="trash icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="create-block-body">
                        <canvas id="c" width="550" height="550"></canvas>
                    </div>
                </div>

                <div class="create-side">
                    <div class="create-side-title">Your T-Shirt</div>
                    <div class="create-side-price">€22.00</div>
                    <div class="create-side-description">
                        <p>01. Select your Text or Image</p>
                        <p>02. Adjust it to the product</p>
                        <p>03. Hit add to cart & place your order!</p>
                    </div>
                    <div class="create-side-add-to-cart">
                        <input class="quantity" type="number" value="0" />
                        <button>Add to cart</button>
                    </div>
                    <div class="create-side-add-to-wishlist">
                        <a href="#">
                            <svg version="1.1"
                                 id="Layer_1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 x="0px"
                                 y="0px"
                                 width="14px"
                                 height="14px"
                                 viewBox="0 0 14 14"
                                 style="enable-background: new 0 0 14 14"
                                 xml:space="preserve">
                            <path d="M3.5,0C2.6,0,1.7,0.4,1,1.2c-1.4,1.6-1.4,4.2,0,5.9l5.8,6.9v0C6.9,14,6.9,14,7,14c0.1,0,0.1,0,0.1-0.1
	                                C9.1,11.7,11,9.4,13,7.1c1.4-1.6,1.4-4.2,0-5.9c-1.4-1.6-3.6-1.6-5,0L7,2.3L6.1,1.2C5.4,0.4,4.5,0,3.5,0L3.5,0z M3.5,0.4
	                                c0.8,0,1.6,0.4,2.2,1.1l1.1,1.3c0,0,0.1,0.1,0.1,0.1s0.1,0,0.1-0.1l1.1-1.3c1.2-1.5,3.2-1.5,4.5,0c1.2,1.5,1.2,3.8,0,5.3
	                                C10.8,9,8.9,11.3,7,13.5L1.3,6.8C0.1,5.3,0.1,3,1.3,1.5C1.9,0.8,2.7,0.4,3.5,0.4L3.5,0.4z" /></svg>Add to wishlist
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui grid">
            <!--Start Edit Box-->
            <div class="four wide column">
                <!--Begin  Action Box for Image-->
                <div id="boxEditImage">
                    <div class="ui top orange inverted attached segment">
                        <p>EDIT : Image</p>
                    </div>
                    <div class="ui bottom attached segment">
                        <p>Use rectangle control around image to move / scale / rotate.</p>
                        <a href="#" class="trashButton">
                            <div class="ui icon button black">
                                <i class="trash icon"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- .boxEditImage -->
                <!--End Action Box for Image-->
                <!--Begin Display Price box-->
                <div class="ui segment pricebox"><strong>Price:</strong> <span id="price">--</span> Euro</div>
                <!--End Display Price box-->
                <!--Begin Get Jason-->
                <div class="ui segment pricebox">
                    <a href="#" id="getdata-button">
                        <div class="ui orange button">Get JSON</div>
                    </a>
                </div>
                <!--End Get Jason-->
            </div>
            <!--End of Description Action Box-->
        </div>
        <!--End of Main View Of Data-->
        <!--Start Modal Choose Image From Library-->
        <div class="library ui modal">
            <i class="close icon"></i>
            <div class="header">Choose our high-quality image to add</div>
            <div class="content">
                <div class="librarylist">
                    <div class="ui five connected items">
                        <div class="item" data-price="-50">
                            <div class="ui left corner label">
                                <div class="text">-50</div>
                            </div>
                            <div class="image">
                                <img src="https://blog.spoongraphics.co.uk/wp-content/uploads/2010/badge/chrisspooner-emblem.png" alt="" />
                            </div>
                        </div>
                        <div class="item" data-price="-30">
                            <div class="ui left corner label">
                                <div class="text">-30</div>
                            </div>
                            <div class="image">
                                <img src="http://static.freepik.com/free-photo/tribal-star-shape-vector_91-3339.jpg" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="http://cdn.vectorstock.com/i/composite/26,74/apple-shape-vector-752674.jpg" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="http://static.freepik.com/free-photo/tribal-star-shape-vector_91-3339.jpg" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="https://blog.spoongraphics.co.uk/wp-content/uploads/2010/badge/chrisspooner-emblem.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui button orange" id="libAddButton">Add Image</div>
                <div class="ui button">Cancel</div>
            </div>
        </div>
        <!--End Modal Choose Image From Library-->
        <!--Start Modal Delete Image/Text-->
        <div class="ui small modal" id="modalDelete">
            <i class="close icon"></i>
            <div class="header">Remove Object</div>
            <div class="content">
                <p>Are you sure you want to remove this object?</p>
            </div>
            <div class="actions">
                <div class="ui negative labeled button">Cancel</div>
                <div class="ui positive right labeled button">Delete !</div>
            </div>
        </div>
        <!--End Modal Delete Image/Text-->
        <!-- Modal -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-margin-top">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title text-center">Welcome Back</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="rect">
                                    <form class="login">
                                        <h2>Login</h2>
                                        <div class="form-group">
                                            <input type="text" placeholder="Your name" class="form-control" name="name" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" placeholder="Password" class="form-control" name="password" />
                                        </div>
                                        <div class="divider-sm"></div>

                                        <div class="divider-sm"></div>
                                        <button class="btn btn-cool btn-md-sm btn-bottom">Login</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="content">
                                    <div class="subtitle">
                                        <div>
                                            <h2>...or login with:</h2>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <a class="sign-btn sign-btn-facebook" href="#"><span class="fa fa-facebook"></span>Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@*
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
*@ @*
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/javascript/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.8/fabric.min.js"></script>
*@ @*
    <script>
*@
<!--//    var select_item = '';
//    var select_price = '+0';
//    var price = 10;

//    var item_list = [];

//    var rectboxX = 130,
//        rectboxY = 352,
//        rectboxWidth = 215,
//        rectboxHeight = 337;
//    //PRICE FIELD START
//    function updatePrice(price_change) {
//        var regExp = /(\=|\+|\-)(\d+)/;
//        var result, result_sign, result_no;

//        /* Use Regular Expression to decide input
//           undefined = no change
//           '=50' = equal 50 euro
//           '+50' = add 50 euro
//           '-50' = decrease 50 euro
//        */
//        if ((result = regExp.exec(price_change)) != null) {
//            if (result.index === regExp.lastIndex) {
//                regExp.lastIndex++;
//            }
//            result_sign = result[1];
//            result_no = result[2];
//        }

//        if (!result_no) {

//        } else if (result_sign == '=') {
//            price = price_change;
//        } else if (result_sign == '+') {
//            price += price_change;
//        } else if (result_sign == '-') {
//            price -= price_change
//        }

//        /* Update Price */
//        $('#price').html(price);
//    }
//    //PRICE FIELD END

//    $(document).ready(function () {
//        updatePrice();

//        $('#boxEdit').show();

//        $('#boxEditText, #boxEditImage').hide();

//        $('.ui.accordion').accordion();

//        $('.ui.dropdown').dropdown();

//        $('#libraryButton').on('click', function () {
//            select_item = '';
//            $('.library.modal').modal('show');
//        });

//        $('.library').find('.item').on('click', function () {
//            $('.item').removeClass('active');
//            select_item = $(this).find('img').attr('src');
//            select_price = $(this).attr('data-price');
//            $(this).addClass('active');
//        });

//        $('#libAddButton').on('click', function () {
//            if (select_item === '') return;
//            var imgObj = new Image();
//            imgObj.src = select_item;
//            imgObj.onload = function () {
//                // start fabricJS stuff

//                var image = new fabric.Image(imgObj);
//                image.scale(0.5).set({
//                    left: 0,
//                    right: 0
//                });
//                //image.scale(getRandomNum(0.1, 0.25)).setCoords();

//                image.on('selected', function () {
//                    var obJ = canvas.getActiveObject();

//                    $('#boxEdit, #boxEditText').hide();
//                    $('#boxEditImage').show();
//                });

//                image.itemPrice = select_price;

//                item_list.push(image);
//                canvas.setActiveObject(image).add(image);

//                // end fabricJS stuff

//                updatePrice(select_price);
//            }
//        });

//        var canvas = this.__canvas = new fabric.Canvas('c');
//        fabric.Object.prototype.transparentCorners = false;

//        var radius = 300;

//        fabric.Image.fromURL('/probeautyfly/images/cup.jpg', function (img) {
//            img.set({
//                width: 450,
//                height: 450,
//                left: 0,
//                top: 0,
//                selectable: false,
//                hasControls: false,
//                hasBorders: false
//            });
//            canvas.add(img).setActiveObject(img);

//            rectbox = new fabric.Rect({
//                width: rectboxWidth - 30,
//                height: rectboxHeight - 80,
//                left: 100,
//                top: 80,
//                stroke: 'rgba(0,0,0,0.3)',
//                strokeWidth: 2,
//                fill: 'rgba(0,0,0,0)',
//                selectable: false,
//                hasControls: false,
//                hasBorders: false
//            });

//            canvas.add(rectbox);

//            var recttext = new fabric.Text('Printable Area', {
//                fontSize: 14,
//                fontFamily: 'sans-serif',
//                left: 150,
//                top: 310,
//                fill: 'rgba(0,0,0,0.3)',
//                selectable: false,
//                hasControls: false,
//                hasBorders: false
//            });

//            canvas.add(recttext);

//            // Create Clip Area (Object created after this will be clipped)
//            /*    var ctx = canvas.getContext("2d");
//                ctx.beginPath();
//                ctx.rect(rectboxX, rectboxY,rectboxWidth, rectboxHeight);
//                ctx.closePath();
//                ctx.lineWidth = 2;
//                ctx.strokeStyle = 'rgba(0, 0, 0, 0)';
//                ctx.stroke();
//                ctx.clip();*/
//            // END Clip Area
//        });

//        //fabric.Image.fromURL('https://i.imgur.com/1VNvSnK.png', function (img) {
//        //    img.set({
//        //        left: 0,
//        //        top: 0,
//        //        selectable: false,
//        //        hasControls: false,
//        //        hasBorders: false
//        //    });
//        //    canvas.add(img).setActiveObject(img);

//        //    rectbox = new fabric.Rect({
//        //        width: rectboxWidth,
//        //        height: rectboxHeight,
//        //        left: rectboxX,
//        //        top: rectboxY,
//        //        stroke: 'rgba(0,0,0,0.3)',
//        //        strokeWidth: 2,
//        //        fill: 'rgba(0,0,0,0)',
//        //        selectable: false,
//        //        hasControls: false,
//        //        hasBorders: false
//        //    });

//        //    canvas.add(rectbox);

//        //    var recttext = new fabric.Text('Printable Area', {
//        //        fontSize: 14,
//        //        fontFamily: 'sans-serif',
//        //        left: 200,
//        //        top: 330,
//        //        fill: 'rgba(0,0,0,0.3)',
//        //        selectable: false,
//        //        hasControls: false,
//        //        hasBorders: false
//        //    });

//        //    canvas.add(recttext);

//        //    // Create Clip Area (Object created after this will be clipped)
//        //    /*    var ctx = canvas.getContext("2d");
//        //        ctx.beginPath();
//        //        ctx.rect(rectboxX, rectboxY,rectboxWidth, rectboxHeight);
//        //        ctx.closePath();
//        //        ctx.lineWidth = 2;
//        //        ctx.strokeStyle = 'rgba(0, 0, 0, 0)';
//        //        ctx.stroke();
//        //        ctx.clip();*/
//        //    // END Clip Area
//        //});

//        $('#addTextButton').on('click', function () {
//            var inText = $('#inputText').val();

//            if (inText.trim() === '') {
//                alert('Please type text');
//                return;
//            }

//            var inFont = $('#inputFont').val();
//            var inSize = 14;
//            var inColor = $('#inputColor').val();

//            var newText = new fabric.Text(inText, {
//                fontSize: inSize,
//                fontFamily: inFont,
//                fill: inColor
//            });

//            newText.on('selected', function () {
//                var obJ = canvas.getActiveObject();

//                // Update Edit Text
//                $('#editText').val(obJ.text);
//                $('#uiEditFont').dropdown('set selected', obJ.fontFamily);
//                $('#uiEditFont').dropdown('set value', obJ.fontFamily);
//                $('#uiEditColor').dropdown('set selected', obJ.fill);
//                $('#uiEditColor').dropdown('set value', obJ.fill);

//                $('#boxEdit, #boxEditImage').hide();
//                $('#boxEditText').show();
//            });

//            canvas.setActiveObject(newText).add(newText);

//            item_list.push(newText);
//        });

//        $('#updateTextButton').on('click', function () {
//            var inText = $('#editText').val();

//            if (inText.trim() === '') {
//                $('.trashButton').trigger('click');
//                return;
//            }

//            var inFont = $('#editFont').val();
//            var inSize = 14;
//            var inColor = $('#editColor').val();

//            var TexttoEdit = canvas.getActiveObject();
//            TexttoEdit.setText(inText)
//                .setFontFamily(inFont)
//                .setFontSize(inSize)
//                .setFill(inColor);

//            canvas.renderAll();
//        });

//        document.getElementById('imgLoader').onchange = function handleImage(e) {

//            // Check for available file
//            if ($('#imgLoader').val().length < 1) {
//                // No file Uploaded
//                console.log('No file uploaded');
//                return false;
//            }

//            // Check file extensions
//            var fileExt = $('#imgLoader').val().split('.').pop().toLowerCase();
//            if ($.inArray(fileExt, ['png', 'jpg', 'jpeg']) == -1) {
//                alert('You cannot upload this file. Please upload only .png, .jpg, or .jpeg images.');
//                $('#file').val("");
//                return false;
//            }

//            var reader = new FileReader();
//            reader.onload = function (event) {
//                var imgObj = new Image();
//                imgObj.src = event.target.result;
//                imgObj.onload = function () {
//                    // start fabricJS stuff

//                    var image = new fabric.Image(imgObj);
//                    image.set({
//                        left: 0,
//                        right: 0
//                    });

//                    image.on('selected', function () {
//                        var obJ = canvas.getActiveObject();

//                        $('#boxEdit, #boxEditText').hide();
//                        $('#boxEditImage').show();
//                    });

//                    //image.scale(getRandomNum(0.1, 0.25)).setCoords();
//                    canvas.setActiveObject(image).add(image);

//                    item_list.push(image);

//                    // end fabricJS stuff
//                }

//            }
//            reader.readAsDataURL(e.target.files[0]);
//        }

//        $('.trashButton').on('click', function () {
//            $('#modalDelete').modal('setting', {
//                onDeny: function () {
//                },
//                onApprove: function () {
//                    var obJ = canvas.getActiveObject();

//                    // Remove from item_list
//                    var obJindex = item_list.indexOf(obJ);
//                    if (obJindex > -1) {
//                        item_list.splice(obJindex, 1);
//                    }

//                    // Remove from canvas
//                    obJ.remove();
//                    clearSelection();
//                }
//            }).modal('show');

//            return false;
//        });

//        $('#resetButton').on('click', function () {
//            var iLength = item_list.length;
//            for (var i = 0; i < iLength; i++) {
//                canvas.remove(item_list[i]);
//            }
//            item_list = [];
//        });

//        canvas.on('selection:cleared', function () {
//            clearSelection();
//        });

//        function clearSelection() {
//            $('#boxEditImage, #boxEditText').hide();
//            $('#boxEdit').show();
//        }

//        $('#getdata-button').on('click', function () {
//            alert(JSON.stringify(item_list));
//            for (i = 0; i < item_list.length; i++) {
//                var one_item = item_list[i];
//                console.log(one_item, one_item.getLeft(), one_item.getTop());
//            }
//        });
//    });

////Pattern
////var img1 = new Image, img2 = new Image, cnt = 2,
////    canvas = document.getElementById("canvas"),
////    ctx = canvas.getContext("2d");


////img1.onload = img2.onload = function () { if (!--cnt) go() };
////img1.src = "https://www.itailor.co.uk/images/product/shirt/it1823-1.png";       // Shirt
////img2.src = "https://i.stack.imgur.com/sQlu8.png";   // pattern

////// MAIN CODE ---
////function go() {

////    // create a pattern
////    ctx.fillStyle = ctx.createPattern(img2, "repeat");

////    // fill canvas with pattern
////    ctx.fillRect(0, 0, canvas.width, canvas.height);

////    // use blending mode multiply
////    ctx.globalCompositeOperation = "multiply";

////    // draw sofa on top
////    ctx.drawImage(img1, 0, 0, img1.width * .5, img1.height * .5);

////    // change composition mode
////    ctx.globalCompositeOperation = "destination-in";

////    // draw to cut-out sofa
////    ctx.drawImage(img1, 0, 0, img1.width * .5, img1.height * .5);
////}-->
@*
    </script>
*@
