

<body class="cbp-spmenu-push">
    <div id="page">
        <div class="px-20">
            <div id="designerId" style="display:none">@ViewBag.UserId</div>
            <div class="create-container">
                <div class="create-block">
                    <div class="create-block-head">
                        <div class="create-block-head-button-container">
                            <div class="create-block-head-button">Settigns</div>
                            <div class="create-head-dropdown">
                                <div class="create-head-dropdown-button" id="resetButton">Reset</div>
                            </div>
                        </div>

                        <div class="create-block-head-button-container">
                            <div class="create-block-head-button">Add Text</div>
                            <div class="create-head-dropdown flex">
                                <div class="field">
                                    <label>Text:</label>
                                    <input placeholder="Text" type="text" id="inputText" autocomplete="off" />
                                </div>

                                <div class="field">
                                    <label>Font</label>
                                    <div class="ui selection dropdown fluid create-head-dropdown-input">
                                        <input name="gender" type="hidden" id="inputFont" value="Arial" />
                                        <div class="default text">Arial</div>
                                        <i class="
                                           "></i>
                                        <div class="menu">
                                            <div class="item" data-value="Arial">Arial</div>
                                            <div class="item" data-value="Impact">Impact</div>
                                            <div class="item" data-value="Lobster">Lobster</div>
                                            <div class="item" data-value="Indie Flower">Indie Flower</div>
                                            <div class="item" data-value="Gloria Hallelujah">Gloria Hallelujah</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <label>Color</label>
                                    <div class="ui selection dropdown fluid create-head-dropdown-input">
                                        <input name="color" type="hidden" id="inputColor" value="#ff0000" />
                                        <div class="default text">Red</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item" data-value="#000000">Black</div>
                                            <div class="item" data-value="#ffffff">White</div>
                                            <div class="item" data-value="#ff0000">Red</div>
                                            <div class="item" data-value="#FFA500">Orange</div>
                                            <div class="item" data-value="#0000FF">Blue</div>
                                            <div class="item" data-value="#008000">Green</div>
                                            <div class="item" data-value="#00FFFF">Aqua</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="create-side-add-to-cart">
                                    <button id="addTextButton">Add Text</button>
                                </div>
                            </div>
                        </div>

                        <div class="create-block-head-button-container">
                            <div class="create-block-head-button">Add Image</div>
                            <div class="create-head-dropdown flex">
                                @*<div class="create-side-add-to-cart">
                                        <button id="libraryButton">from Library</button>
                                    </div>
                                    <p>OR</p>*@
                                <input type="file" id="imgLoader" class="imgLoader" />
                                <div class="create-side-add-to-cart">
                                    <label for="imgLoader"> Upload Image </label>
                                </div>
                                <p>Supported files: JPG, JPEG, PNG</p>
                            </div>
                        </div>

                        <div class="create-block-head-button-container" id="boxEditText">
                            <div class="create-block-head-button">EDIT : Text</div>
                            <div class="create-head-dropdown flex">
                                <div class="field">
                                    <label>Text:</label>
                                    <input placeholder="Text" type="text" id="editText" />
                                </div>

                                <div class="field">
                                    <label>Font</label>
                                    <div class="ui selection dropdown fluid create-head-dropdown-input" id="uiEditFont">
                                        <input name="gender" type="hidden" id="editFont" />
                                        <div class="default text">select</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item" data-value="Arial">Arial</div>
                                            <div class="item" data-value="Impact">Impact</div>
                                            <div class="item" data-value="Lobster">Lobster</div>
                                            <div class="item" data-value="Indie Flower">Indie Flower</div>
                                            <div class="item" data-value="Gloria Hallelujah">Gloria Hallelujah</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <label>Color</label>
                                    <div class="ui selection dropdown fluid create-head-dropdown-input" id="uiEditColor">
                                        <input name="gender" type="hidden" id="editColor" />
                                        <div class="default text">Red</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item" data-value="#000000">Black</div>
                                            <div class="item" data-value="#ffffff">White</div>
                                            <div class="item" data-value="#ff0000">Red</div>
                                            <div class="item" data-value="#FFA500">Orange</div>
                                            <div class="item" data-value="#0000FF">Blue</div>
                                            <div class="item" data-value="#008000">Green</div>
                                            <div class="item" data-value="#00FFFF">Aqua</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="create-side-add-to-cart">
                                    <button id="updateTextButton">Update</button>
                                </div>

                                <div class="create-side-add-to-cart">
                                    <button class="trashButton">
                                        <i class="trash icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="create-block-head-button-container" id="boxEditImage">
                            <div class="create-block-head-button">EDIT : Image</div>
                            <div class="create-head-dropdown flex">
                                <p>Use rectangle control around image to move / scale / rotate.</p>

                                <div class="create-side-add-to-cart">
                                    <button class="trashButton">
                                        <i class="trash icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="create-block-body">
                        <canvas id="c" width="550" height="550"></canvas>
                        <label for="colorLight">Choose Background Color</label>
                        <input type="color" id="colorLight" value="" />
                        <br />
                        <label for="colorDark">Choose Uploaded Image Color</label>
                        <input type="color" id="colorDark" value="" />
                    </div>
                </div>

                <div class="create-side">
                    <div class="create-side-title"></div>
                    <div class="create-side-price">€22.00</div>
                    <div class="create-side-description">
                        <p>01. Select your Text or Image</p>
                        <p>02. Adjust it to the product</p>
                        <p>03. Hit add to cart & place your order!</p>
                    </div>
                    <div class="create-side-add-to-cart">
                        <button id="tempSave">Save</button>
                    </div>
                    <div class="create-side-add-to-cart">
                        <input class="quantity" type="number" value="0" />
                        <button id="addToCart">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui grid">
            <!--Start Edit Box-->
            <div class="four wide column">
                <!--Begin  Action Box for Image-->
                <div id="boxEditImage">
                    <div class="ui top orange inverted attached segment">
                        <p>EDIT : Image</p>
                    </div>
                    <div class="ui bottom attached segment">
                        <p>Use rectangle control around image to move / scale / rotate.</p>
                        <a href="#" class="trashButton">
                            <div class="ui icon button black">
                                <i class="trash icon"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- .boxEditImage -->
                <!--End Action Box for Image-->
                <!--Begin Display Price box-->
                <div class="ui segment pricebox"><strong>Price:</strong> <span id="price">--</span> Euro</div>
                <!--End Display Price box-->
                <!--Begin Get Jason-->
                <div class="ui segment pricebox">
                    <a href="#" id="getdata-button">
                        <div class="ui orange button">Get JSON</div>
                    </a>
                </div>
                <!--End Get Jason-->
            </div>
            <!--End of Description Action Box-->
        </div>
        <!--End of Main View Of Data-->
        <!--Start Modal Choose Image From Library-->
        <div class="library ui modal">
            <i class="close icon"></i>
            <div class="header">Choose our high-quality image to add</div>
            <div class="content">
                <div class="librarylist">
                    <div class="ui five connected items">
                        <div class="item" data-price="-50">
                            <div class="ui left corner label">
                                <div class="text">-50</div>
                            </div>
                            <div class="image">
                                <img src="https://blog.spoongraphics.co.uk/wp-content/uploads/2010/badge/chrisspooner-emblem.png" alt="" />
                            </div>
                        </div>
                        <div class="item" data-price="-30">
                            <div class="ui left corner label">
                                <div class="text">-30</div>
                            </div>
                            <div class="image">
                                <img src="http://static.freepik.com/free-photo/tribal-star-shape-vector_91-3339.jpg" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="http://cdn.vectorstock.com/i/composite/26,74/apple-shape-vector-752674.jpg" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="http://static.freepik.com/free-photo/tribal-star-shape-vector_91-3339.jpg" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="https://blog.spoongraphics.co.uk/wp-content/uploads/2010/badge/chrisspooner-emblem.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui button orange" id="libAddButton">Add Image</div>
                <div class="ui button">Cancel</div>
            </div>
        </div>
        <!--End Modal Choose Image From Library-->
        <!--Start Modal Delete Image/Text-->
        <div class="ui small modal" id="modalDelete">
            <i class="close icon"></i>
            <div class="header">Remove Object</div>
            <div class="content">
                <p>Are you sure you want to remove this object?</p>
            </div>
            <div class="actions">
                <div class="ui negative labeled button">Cancel</div>
                <div class="ui positive right labeled button">Delete !</div>
            </div>
        </div>
        <!--End Modal Delete Image/Text-->
        <!-- Modal -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-margin-top">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title text-center">Welcome Back</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="rect">
                                    <form class="login">
                                        <h2>Login</h2>
                                        <div class="form-group">
                                            <input type="text" placeholder="Your name" class="form-control" name="name" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" placeholder="Password" class="form-control" name="password" />
                                        </div>
                                        <div class="divider-sm"></div>

                                        <div class="divider-sm"></div>
                                        <button class="btn btn-cool btn-md-sm btn-bottom">Login</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="content">
                                    <div class="subtitle">
                                        <div>
                                            <h2>...or login with:</h2>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <a class="sign-btn sign-btn-facebook" href="#"><span class="fa fa-facebook"></span>Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@Scripts.Render("~/probeautyfly/js/CustomScript.js")
