<div id="page">
    <!---header top---->
    <!--header--->
    <!--end-->
    <!--end-->
    <div id="myCarousel1" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->

        <div class="carousel-inner">
            <div class="item active">
                <img src="~/probeautyfly/images/1banner.jpg" style="width:100%;" alt="First slide">
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <h1>Create your style</h1>
                        <h3>with our help</h3>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/probeautyfly/images/bannerhoodie.png" style="width:100%;" alt="Second slide">
                <div class="carousel-caption">
                    @*<div class="carousel-caption-inner">
                        <h1>Create your style</h1>
                        <h3>with our help</h3>
                    </div>*@
                </div>
            </div>
        </div>
        <a data-slide="prev" href="#myCarousel1" class="left carousel-control"> <img alt="left" onmouseout="this.src = 'probeautyfly/images/icons/left.png'" onmouseover="this.src = 'probeautyfly/images/icons/left-hover.png'" src="probeautyfly/images/icons/left.png"></a>
        <a data-slide="next" href="#myCarousel1" class="right carousel-control"><img alt="left" onmouseout="this.src = 'probeautyfly/images/icons/right.png'" onmouseover="this.src = 'probeautyfly/images/icons/right-hover.png'" src="probeautyfly/images/icons/right.png"></a>
    </div>
    <div class="clearfix"></div>



    <section class="what-we-do-block section-padding-small">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="text-head-front">
                        <h2>welcome to our shop</h2>
                    </div>
                </div>
            </div>
            <div class="row offspace-90">
                <div class="col-md-6 col-sm-12 col-xs-12 welcome-image">
                    <img alt="image" class="img-responsive" src="~/probeautyfly/images/shop1.png">
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <p class="desc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod nec elit quis vestibulum. Duis pretium lorem sed lorem porttitor, sit amet mattis risus consectetur. Vestibulum in nisi feugiat, dignissim felis in, dictum felis. In hac habitasse platea dictumst. Ut pretium egestas erat in tempus. Nam consequat leo nisi. Suspendisse non libero ornare, </p>
                    <p class="desc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod nec elit quis vestibulum. Duis pretium lorem sed lorem porttitor, sit amet mattis risus consectetur. Vestibulum in nisi feugiat, dignissim felis in, dictum </p>
                    <p class="desc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod nec elit quis vestibulum. Duis pretium lorem sed lorem porttitor, sit amet</p>
                    <a class="read-more" href="#">Read More</a>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <section class="gallery-block section-padding-small">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="text-head">
                        <h2>our products</h2>
                    </div>
                </div>
            </div>
            <div class="row offspace-90">
                <div class="effects clearfix" id="effect-5">
                    <div class="col-md-6 col-sm-6 col-xs-12 product-image-left">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="img">
                                    <img alt="gallery-image" src="~/probeautyfly/images/cupscollection.png" class="img-responsive">
                                    <div class="overlay">
                                        <a data-image-popup="" class="expand" href="~/probeautyfly/images/cupscollection.png">+</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="img">
                                    <img alt="gallery-image" src="~/probeautyfly/images/collection2.png" class="img-responsive">
                                    <div class="overlay">
                                        <a data-image-popup="" class="expand" href="~/probeautyfly/images/collection2.png">+</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="img">
                                    <img alt="gallery-image" src="~/probeautyfly/images/collection3.png" class="img-responsive">
                                    <div class="overlay">
                                        <a data-image-popup="" class="expand" href="~/probeautyfly/images/collection3.png">+</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="img">
                                    <img alt="gallery-image" src="~/probeautyfly/images/collection4.png" class="img-responsive">
                                    <div class="overlay">
                                        <a data-image-popup="" class="expand" href="~/probeautyfly/images/collection4.png">+</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 product-image-right">
                        <div class="img">
                            <img alt="gallery-image" src="~/probeautyfly/images/myproduct.png" class="img-responsive">
                            <div class="overlay">
                                <a data-image-popup="" class="expand" href="~/probeautyfly/images/myproduct.png">+</a>
                                <a class="close-overlay hidden">x</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <section class="service-block section-padding-small">

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="text-head">
                        <h2>Create your product</h2>
                    </div>
                </div>
            </div>
            <div class="template-1 offspace-90">
                <div class="template-item">
                    <div class="service-image">
                        <img class="img-responsive" src="~/probeautyfly/images/mug.png" alt="service-image">
                        <div class="overlay">
                            <h3><a>Mugs</a></h3>
                        </div>
                    </div>
                </div>
                <div class="template-item">
                    <div class="service-image">
                        <img class="img-responsive" src="~/probeautyfly/images/tshirt.png" alt="service-image">
                        <div class="overlay">
                            <h3><a>T-Shirts</a></h3>
                        </div>
                    </div>
                </div>
                <div class="template-item">
                    <div class="service-image">
                        <img class="img-responsive" src="~/probeautyfly/images/pillows.png" alt="service-image">
                        <div class="overlay">
                            <h3><a>Pillows</a></h3>
                        </div>
                    </div>
                </div>
                <div class="template-item">
                    <div class="service-image">
                        <img class="img-responsive" src="~/probeautyfly/images/hoodie.png" alt="service-image">
                        <div class="overlay">
                            <h3><a>Hoodies</a></h3>
                        </div>
                    </div>
                </div>
                <div class="template-item">
                    <div class="service-image">
                        <img class="img-responsive" src="~/probeautyfly/images/bag.png" alt="service-image">
                        <div class="overlay">
                            <h3><a>Bags</a></h3>
                        </div>
                    </div>
                </div>
                <div class="template-item">
                    <div class="service-image">
                        <img class="img-responsive" src="~/probeautyfly/images/mousepad.png" alt="service-image">
                        <div class="overlay">
                            <h3><a>Mousepads</a></h3>
                        </div>
                    </div>
                </div>
                <div class="template-item">
                    <div class="service-image">
                        <img class="img-responsive" src="~/probeautyfly/images/bedsheet.png" alt="service-image">
                        <div class="overlay">
                            <h3><a>Bed Sheets</a></h3>
                        </div>
                    </div>
                </div>
                <div class="template-item">
                    <div class="service-image">
                        <img class="img-responsive" src="~/probeautyfly/images/plate.png" alt="service-image">
                        <div class="overlay">
                            <h3><a>Plates</a></h3>
                        </div>
                    </div>
                </div>
                <div class="template-item">
                    <div class="service-image">
                        <img class="img-responsive" src="~/probeautyfly/images/thermos.png" alt="service-image">
                        <div class="overlay">
                            <h3><a>Thermos Bottles</a></h3>
                        </div>
                    </div>
                </div>
                <div class="template-item">
                    <div class="service-image">
                        <img class="img-responsive" src="~/probeautyfly/images/canvas.png" alt="service-image">
                        <div class="overlay">
                            <h3><a>Canvas</a></h3>
                        </div>
                    </div>
                </div>
                <div class="template-item">
                    <div class="service-image">
                        <img class="img-responsive" src="~/probeautyfly/images/ashtray.png" alt="service-image">
                        <div class="overlay">
                            <h3><a>Ashtrays</a></h3>
                        </div>
                    </div>
                </div>
                <div class="template-item">
                    <div class="service-image">
                        <img class="img-responsive" src="~/probeautyfly/images/tissue.png" alt="service-image">
                        <div class="overlay">
                            <h3><a>Tissues</a></h3>
                        </div>
                    </div>
                </div>
                <div class="template-item">
                    <div class="service-image">
                        <img class="img-responsive" src="~/probeautyfly/images/phonecase.png" alt="service-image">
                        <div class="overlay">
                            <h3><a>Phone Cases</a></h3>
                        </div>
                    </div>
                </div>
                <div class="template-item">
                    <div class="service-image">
                        <img class="img-responsive" src="~/probeautyfly/images/doormat.png" alt="service-image">
                        <div class="overlay">
                            <h3><a>Door Mats</a></h3>
                        </div>
                    </div>
                </div>
                <div class="template-item">
                    <div class="service-image">
                        <img class="img-responsive" src="~/probeautyfly/images/magnet.png" alt="service-image">
                        <div class="overlay">
                            <h3><a>Magnets</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="offer-block section-padding-small">
        <div class="offer-block-background-image">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-xs-12 set-mid-width">
                        <div class="sticky-head">
                            <h1>the hottest creations</h1>
                            <a href="#">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="appointment-block section-padding-small">

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 text-center">
                    <div class="text-head">
                        <h2>make an appointment</h2>
                    </div>
                    <form id="BookForm" class="offspace-70">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="book-form">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" id="name" class="form-control placeholder-fix" placeholder="name" required="" aria-invalid="false">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" id="contact" class="form-control placeholder-fix" placeholder="number" required="">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="email" id="email" class="form-control placeholder-fix" placeholder="Email" required="">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class=" col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" id="date" class="form-control placeholder-fix" placeholder="date" required="">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <textarea name="message" id="message" class="form-control placeholder-fix" rows="4" placeholder="Message" required="" aria-invalid="false"></textarea>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="action-buttons text-center">
                                        <button type="reset" class="btn">Clear</button>
                                        <button type="submit" class="btn">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 text-center mobile-view-set-padd">
                    <div class="text-head">
                        <h2>testimonial</h2>
                    </div>
                    <div data-ride="carousel" class="carousel slide offspace-70" id="myCarousel2">

                        <!-- Wrapper for slides -->
                        <div role="listbox" class="carousel-inner">
                            <div class="item active">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                    <div class="testimonial-image">
                                        <img class="img-responsive" src="~/probeautyfly/images/testimonial1.png">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley "</p>
                                    <h4>alex blackwell</h4>
                                    <h4>ceo</h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                    <div class="testimonial-image">
                                        <img class="img-responsive" src="~/probeautyfly/images/testimonial2.png">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery "</p>
                                    <h4>alex blackwell</h4>
                                    <h4>ceo</h4>
                                </div>
                            </div>

                        </div>
                        <a data-slide="prev" href="#myCarousel2" class="left carousel-control"> <img alt="left" onmouseout="this.src = 'probeautyfly/images/icons/left-arrow-square.png'" onmouseover="this.src = 'probeautyfly/images/icons/left-arrow-square-hover.png'" src="probeautyfly/images/icons/left-arrow-square.png"></a>
                        <a data-slide="next" href="#myCarousel2" class="right carousel-control"><img alt="right" onmouseout="this.src = 'probeautyfly/images/icons/right-arrow-square.png'" onmouseover="this.src = 'probeautyfly/images/icons/right-arrow-square-hover.png'" src="probeautyfly/images/icons/right-arrow-square.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="team-block section-padding-small">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="text-head">
                        <h2>meet our specialist</h2>
                    </div>
                </div>
            </div>
            <div class="row offspace-90">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="team-image">
                                <img src="probeautyfly/images/Anna.jpg" class="img-responsive" alt="team-image">
                                <div class="overlay">
                                    <h3><a>Anna Kitou</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-image">
                                <img src="probeautyfly/images/ektor.png" class="img-responsive" alt="team-image">
                                <div class="overlay">
                                    <h3><a>Ektoras Lamprou Krionas</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-image">
                                <img src="probeautyfly/images/Panos.jpg" class="img-responsive" alt="team-image">
                                <div class="overlay">
                                    <h3><a>Panos Kempas</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-image">
                                <img src="probeautyfly/images/Chris.jpg" class="img-responsive" alt="team-image">
                                <div class="overlay">
                                    <h3><a>Christos Karamolegkos</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-image">
                                <img src="~/probeautyfly/images/xristina.jpg" class="img-responsive" alt="team-image">
                                <div class="overlay">
                                    <h3><a>Christina Augerinou Kourgiouni</a></h3>
                                </div>
                            </div>
                        </div>

                    </div>
                    <script>
    $(document).ready(function () {
                            $('.owl-carousel').owlCarousel({
                                loop: true,
                                margin: 10,
                                responsiveClass: true,
                                responsive: {
                                    0: {
                                        items: 1,
                                        nav: true
                                    },
                                    600: {
                                        items: 2,
                                        nav: true
                                    },
                                    760: {
                                        items: 3,
                                        nav: true
                                    },
                                    1000: {
                                        items: 4,
                                        nav: true,
                                        loop: false,
                                        margin: 20
                                    }
                                }
                            })
                        })</script>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <section class="pro-gallery-block section-padding-small">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="text-head">
                        <h2>Gallery</h2>
                    </div>
                </div>
            </div>
            <div class="row offspace-70">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="grid hover-effect">
                        <div class="grid-sizer"></div>
                        <div class="grid-item gp-image">
                            <a class="example-image-link"><img src="~/probeautyfly/images/gp1.png" class="img-responsive" alt="gallery"></a>
                            <div class="overlay-gpimage">
                                <h3>Image1</h3>
                            </div>
                        </div>
                        <div class="grid-item gp-image">
                            <a class="example-image-link"><img src="~/probeautyfly/images/gp2.png" class="img-responsive" alt="gallery"></a>
                            <div class="overlay-gpimage">
                                <h3>Image2</h3>
                            </div>
                        </div>
                        <div class="grid-item gp-image">
                            <a class="example-image-link"><img src="~/probeautyfly/images/gp3.png" class="img-responsive" alt="gallery"></a>
                            <div class="overlay-gpimage">
                                <h3>Image3</h3>
                            </div>
                        </div>
                        <div class="grid-item gp-image">
                            <a class="example-image-link"><img src="~/probeautyfly/images/gp4.png" class="img-responsive" alt="gallery"></a>
                            <div class="overlay-gpimage">
                                <h3>Image4</h3>
                            </div>
                        </div>
                        <div class="grid-item gp-image">
                            <a class="example-image-link"><img src="~/probeautyfly/images/gp5.png" class="img-responsive" alt="gallery"></a>
                            <div class="overlay-gpimage">
                                <h3>Image5</h3>
                            </div>
                        </div>
                        <div class="grid-item gp-image">
                            <a class="example-image-link"><img src="~/probeautyfly/images/gp6.png" class="img-responsive" alt="gallery"></a>
                            <div class="overlay-gpimage">
                                <h3>Image6</h3>
                            </div>
                        </div>
                        <div class="grid-item gp-image">
                            <a class="example-image-link"><img src="~/probeautyfly/images/gp7.png" class="img-responsive" alt="gallery"></a>
                            <div class="overlay-gpimage">
                                <h3>Image7</h3>
                            </div>
                        </div>
                        <div class="grid-item gp-image">
                            <a class="example-image-link"><img src="~/probeautyfly/images/gp8.png" class="img-responsive" alt="gallery"></a>
                            <div class="overlay-gpimage">
                                <h3>Image8</h3>
                            </div>
                        </div>
                        <div class="grid-item gp-image">
                            <a class="example-image-link"><img src="~/probeautyfly/images/gp9.png" class="img-responsive" alt="gallery"></a>
                            <div class="overlay-gpimage">
                                <h3>Image9</h3>
                            </div>
                        </div>
                        <div class="grid-item gp-image">
                            <a class="example-image-link"><img src="~/probeautyfly/images/gp10.png" class="img-responsive" alt="gallery"></a>
                            <div class="overlay-gpimage">
                                <h3>Image10</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="statistic-block section-padding-small">

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="text-head">
                        <h2>fun facts</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="counter-background-image offspace-70">
            <div class="container">
                <div class="row text-center">

                    <div class="col-md-3 col-sm-3 col-xs-12 width-set-50">
                        <div class="information hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                            <div class="icon-block"><a class="hi-icon"><img src="~/probeautyfly/images/icons/trophy.png"></a></div>
                            <h1 class="counter" data-slno='1' data-min='0' data-max='100' data-delay='8' data-increment=1>100</h1>
                            <h5>happy clients</h5>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 width-set-50">
                        <div class="information hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                            <div class="icon-block"><a class="hi-icon"><img src="~/probeautyfly/images/icons/man-thinking.png"></a></div>
                            <h1 class="counter" data-slno='1' data-min='0' data-max='1400' data-delay='8' data-increment=1>1400</h1>
                            <h5>questions answered</h5>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 width-set-50">
                        <div class="information hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                            <div class="icon-block"><a class="hi-icon"><img src="~/probeautyfly/images/icons/task-complete.png"></a></div>
                            <h1 class="counter" data-slno='1' data-min='0' data-max='200' data-delay='8' data-increment=1>200</h1>
                            <h5>completed projects</h5>
                        </div>
                    </div>

                </div>
                <script>
    jQuery(document).ready(function ($) {
                        $('.counter').counterUp({
                            delay: 10,
                            time: 1000
                        });
                    });</script>
            </div>
        </div>

        <div class="clearfix"></div>
    </section>

    <section class="appointment-block section-padding-small">
        <div class="appointment-block-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <h3>impressed with us?</h3>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-right set-center">
                        <a class="appointement-link-btn" href="#">Get An Appointment</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <section class="blog-block section-padding-small">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="text-head">
                        <h2>News</h2>
                    </div>
                </div>
            </div>
            <div class="row offspace-70">
                <div class="col-md-6 col-sm-6 col-xs-12">

                    <div class="event-image">
                        <a href="single-blog.html"><img src="~/probeautyfly/images/blog1.png" class="img-responsive"></a>
                    </div>
                    <div class="blog-views">
                        <!-- Left-aligned -->
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading event-title"><a href="single-blog.html"> Lorem ipsum dolor sit amet</a></h4>
                                <ul class="list-unstyled">
                                    <li><a><i class="fa fa-tags"></i><span>category</span></a> <a><i class="fa fa-comments-o fa-lg"></i><span>Comments</span></a> <a><i class="fa fa-calendar-o"></i><span>APR 26, 2017</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="event-desc">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived...... </p>
                    </div>
                    <a class="read-more" href="single-blog.html">Read More</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">

                    <div class="event-image">
                        <a href="single-blog.html"><img src="~/probeautyfly/images/blog2.png" class="img-responsive"></a>
                    </div>
                    <div class="blog-views">
                        <!-- Left-aligned -->
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading event-title"><a href="single-blog.html"> Lorem ipsum dolor sit amet</a></h4>
                                <ul class="list-unstyled">
                                    <li><a><i class="fa fa-tags"></i><span>category</span></a> <a><i class="fa fa-comments-o fa-lg"></i><span>Comments</span></a> <a><i class="fa fa-calendar-o"></i><span>APR 26, 2017</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="event-desc">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived...... </p>
                    </div>
                    <a class="read-more" href="single-blog.html">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-margin-top">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">Welcome Back</h3>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="rect">
                                <form class="login">
                                    <h2>Login</h2>
                                    <div class="form-group">
                                        <input type="text" placeholder="Your name" class="form-control" name="name">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" placeholder="Password" class="form-control" name="password">
                                    </div>
                                    <div class="divider-sm">
                                    </div>

                                    <div class="divider-sm">
                                    </div>
                                    <button class="btn btn-cool btn-md-sm btn-bottom">Login</button>
                                </form>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="content">
                                <div class="subtitle">

                                    <div>
                                        <h2>...or login with:</h2>
                                    </div>

                                </div>

                                <div class="text-center">
                                    <a class="sign-btn sign-btn-facebook" href="#"><span class="fa fa-facebook"></span>Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




</div>
<script>$(document).ready(function () {
            if (Modernizr.touch) {
                // show the close overlay button
                $(".close-overlay").removeClass("hidden");
                // handle the adding of hover class when clicked
                $(".img").click(function (e) {
                    if (!$(this).hasClass("hover")) {
                        $(this).addClass("hover");
                    }
                });
                // handle the closing of the overlay
                $(".close-overlay").click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    if ($(this).closest(".img").hasClass("hover")) {
                        $(this).closest(".img").removeClass("hover");
                    }
                });
            } else {
                // handle the mouseenter functionality
                $(".img").mouseenter(function () {
                    $(this).addClass("hover");
                })
                    // handle the mouseleave functionality
                    .mouseleave(function () {
                        $(this).removeClass("hover");
                    });
            }
        });</script>

<script>var grid = document.querySelector('.grid');

        var msnry = new Masonry(grid, {
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true
        });

        imagesLoaded(grid).on('progress', function () {
            // layout Masonry after each image loads
            msnry.layout();
        });</script>