
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><img class="icon" src="~/probeautyfly/images/AdminImg/Kappa_logo_Black.jpg" /></span>
                    <span class="title">Kappa Shop</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="title">Customers</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="chatbubbles-outline"></ion-icon></span>
                    <span class="title">Messages</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <span class="title">Password</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Sign Out</span>
                </a>
            </li>

        </ul>
    </div>
    <!--Main entity-->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            <!--search div-->
            <!--user Image-->
            <div class="user">
                <img src="~/probeautyfly/images/AdminImg/christos.jpg" />
            </div>
        </div>

        <!--cards-->
        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">45</div>
                    <div class="cardName">Total Orders</div>
                </div>
                <div class="iconBox">
                    <ion-icon name="cart-outline"></ion-icon>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">3</div>
                    <div class="cardName">Top Categories</div>
                </div>
                <div class="iconBox">
                    <ion-icon name="star-outline"></ion-icon>

                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers"></div>
                    <div class="cardName">Total Earnings</div>
                </div>
                <div class="iconBox">
                    <ion-icon name="cash-outline"></ion-icon>

                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers" id="commentNo"></div>
                    <div class="cardName">Comments</div>
                </div>
                <div class="iconBox">
                    <ion-icon name="people-circle-outline"></ion-icon>
                </div>
            </div>
        </div>

        <!--order details list-->
        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>Recent Orders</h2>
                    <a href="#" class="btn">View All Orders</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Payment</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>T-Shirt with Image</td>
                            <td>$22</td>
                            <td>Paid</td>
                            <td><span class="status delivered">Delivered</span></td>
                        </tr>
                        <tr>
                            <td>T-Shirt with text</td>
                            <td>$12</td>
                            <td>Paid</td>
                            <td><span class="status delivered">Delivered</span></td>
                        </tr>
                        <tr>
                            <td>Cup with text and image</td>
                            <td>$32</td>
                            <td>Due</td>
                            <td><span class="status inprogress">In Progress</span></td>
                        </tr>
                        <tr>
                            <td>Pillow with image</td>
                            <td>$42</td>
                            <td>Paid</td>
                            <td><span class="status return">Return</span></td>
                        </tr>
                        <tr>
                            <td>Hoodie with text and Image</td>
                            <td>$22</td>
                            <td>Due</td>
                            <td><span class="status pending">Pending</span></td>
                        </tr>
                        <tr>
                            <td>Hoodie with image</td>
                            <td>$23</td>
                            <td>Due</td>
                            <td><span class="status inprogress">In Progress</span></td>
                        </tr>
                        <tr>
                            <td>T-Shirt with Text</td>
                            <td>$12</td>
                            <td>Paid</td>
                            <td><span class="status delivered">Delivered</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--New Customers-->

            <div class="recentCustomers">
                <div class="cardHeader">
                    <h2>Recent Customers</h2>
                </div>
                <table>
                    <tr>
                        <td width="60px"><div class="imgBox"><img src="~/probeautyfly/images/AdminImg/anna.jpg" /></div></td>
                        <td><h4>Anna Kitou<br /><span>Poland</span></h4></td>
                    </tr>
                    <tr>
                        <td width="60px"><div class="imgBox"><img src="~/probeautyfly/images/AdminImg/ektoras.png" /></div></td>
                        <td><h4>Ektoras Krionas-Lambrou<br /><span>Spain</span></h4></td>
                    </tr>
                    <tr>
                        <td width="60px"><div class="imgBox"><img src="~/probeautyfly/images/AdminImg/panos.jpg" /></div></td>
                        <td><h4>Panos Kempas<br /><span>England</span></h4></td>
                    </tr>
                    <tr>
                        <td width="60px"><div class="imgBox"><img src="~/probeautyfly/images/AdminImg/christinapng.png" /></div></td>
                        <td><h4>Christina Kourgiouni<br /><span>Greece</span></h4></td>
                    </tr>
                </table>
            </div>


        </div>

    </div>
</div>




