 <!---header top---->
<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-10 col-xs-12">
                <div class="info-block">
                    <ul>
                        <li><p><i class="fa fa-location-arrow fa-lg"></i>Address: 10, Ardittou St., Athens</p></li>
                        <li><i class="fa fa-phone fa-lg"></i> <a href="tel:+30 210 9211111"> Telephone: +30 210 9211111 </a></li>
                        <li><i class="fa fa-envelope"></i> <a href="mailto:kappa@info.com"> E-mail: kappa@info.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="login-block">
                    <a data-toggle="modal" id="mmm" data-dismiss="modal" data-target="#myModal" href="#"><img src="~/probeautyfly/images/icons/login.png" alt="login"><span>Login</span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-6">
                <div class="social-grid">
                    <ul class="list-unstyled text-right">
                        <li><a><i class="fa fa-facebook"></i></a></li>
                        <li><a><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--header--->
