@using KappaCreations.Models

@{
    ViewBag.Title = "Log in";
}
@{
    string userName = User.Identity.Name;
    bool isAdmin = User.IsInRole("admin");
}
<!---header top---->
<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-10 col-xs-12">
                <div class="info-block">
                    <ul>
                        <li><p><i class="fa fa-location-arrow fa-lg"></i>Address: 10, Ardittou St., Athens</p></li>
                        <li><i class="fa fa-phone fa-lg"></i>  Tel.: +30 210 9211111 </li>
                        <li><i class="fa fa-envelope"></i> <a href="mailto:kappashop2022@gmail.com"> kappashop2022@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="login-block">
                    @if (string.IsNullOrWhiteSpace(userName))
                    {
                        <a id="mmm" href="../Account/Login">
                            <img src="~/probeautyfly/images/icons/login.png" alt="login"><span>Login</span>
                        </a>
                    }
                    else
                    {
                        if (isAdmin)
                        {
                            <p style="margin-top:4px">@Html.ActionLink("Dashboard", "Index", "Admin")</p>
                        }
                        else
                        {
                            <p style="margin-top:4px">@Html.ActionLink("Welcome, " + @userName, "Index", "ApplicationUser")</p>
                        }
                    }
                </div>
            </div>
            <div  style="margin-top:4px" class="col-md-2 col-sm-2 col-xs-6">
                <i  class="fa fa-shopping-cart">@Html.ActionLink("Shopping Cart", "Index", "ShoppingCart")</i>
            </div>
        </div>
    </div>
</div>
<!--header--->
